<!DOCTYPE html>
<html class="no-js" lang="en" itemscope itemtype="https://schema.org/WebSite">
<head>

  <!-- Basics -->
  <base href="/">
  <meta charset="UTF-8"/>
  <title><%= name %></title>
  <meta name="description" content="<%= description %>"/>

  <!-- Web-app capable and viewport -->
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">
  <meta name="format-detection" content="telephone=yes">
  <meta name="mobile-web-app-capable" content="yes">

  <!-- Icons and splash pages -->
  <!-- Generate Favicons at http://realfavicongenerator.net/ -->
  <link rel="apple-touch-icon" sizes="180x180" href="img/favicons/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="img/favicons/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="img/favicons/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="img/favicons/manifest.json">
  <link rel="mask-icon" href="img/favicons/safari-pinned-tab.svg" color="#5bbad5">
  <meta name="theme-color" content="#5bbad5">

  <!-- Schema.org markup for Google+ -->
  <meta itemprop="name" content="<%= name %>">
  <meta itemprop="description" content="<%= description %>">
  <meta itemprop="image" content="http://www.example.com/image.jpg">

  <!-- Twitter Card data -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@publisher_handle">
  <meta name="twitter:title" content="<%= name %>">
  <meta name="twitter:description" content="<%= description %>">
  <meta name="twitter:creator" content="@author_handle">
  <!-- Twitter summary card with large image must be at least 280x150px -->
  <meta name="twitter:image:src" content="http://www.example.com/image.jpg">

  <!-- Open Graph data -->
  <meta property="og:title" content="<%= name %>" />
  <meta property="og:url" content="http://www.example.com/" />
  <meta property="og:image" content="http://example.com/image.jpg" />
  <meta property="og:description" content="<%= description %>" />

  <!-- Stylesheets -->
  <link rel="stylesheet" href="dist/css/app.min.css" />

</head>
<body>

  <!-- Global container -->
  <div id="global-container">
    <div ui-view="main"></div>
  </div>

  <!-- Scripts -->
  <script src="dist/vendors/vendors.min.js"></script>
  <script src="dist/js/app.min.js"></script>
  <script type="text/javascript">
    angular.bootstrap(document.body, ['<%= prefix %>']);
  </script>

</body>
</html>
